body {
  font-family: Arial, sans-serif;
  background-color: #2011a3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  margin: 0;
}

.playlist-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
.playlist-container img{
  width: 250px;
  height: 200px;

}

#playlist {
  margin-top: 20px;
}

.song {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.song:hover {
  background-color: #f9f9f9;
}

audio {
  margin-top: 20px;
  width: 100%;
}
